body{
    font-family: 'Poppins', sans-serif;
}
.section-background{
    background-color: #264653;
}
img{
    width: 100%;
    height: auto;
}
.user-1 , .user-2{
    width: 200px;
}
.user-3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.ask-q-img{
    width: 500px;
}